/* Copyright of GENIAL INGELE. This calculator is merely an estimation of what your bond would cost and the other costs associated with it.
    Hence, GENIAL INGELE is not liable for any inaccuracies found in this code. We are trying to guide you in making a decision in the best way we can, 
    but the accurate information will be given to you by your bank. 
    
    NOTE: Data found on this code is based on South African laws and fees.
    
    DATE: 24 SEPTEMBER 2023
    
    GENIAL INGELE 
    */


    /*TODO 
    * Automatically separate large numbers with comma or point when typed in
    * Loop through 2 arrays to compare and assign values based on a set of conditions. E.g. loan amount vs deeds office fees matching. 
    */


/* -----INPUTS-------*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: right;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: right;

}

input{
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px#e5e5e5 solid;
    font-size: 16pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 0.3s; /* Add a smooth transition for the background color */

}

/* Hover effect */
input[type="number"]:hover {
  background-color: #c0deff;
}

/* Active (clicked) state */
input[type="number"]:active {
  background-color: #0066c5;
  color: white; /* Optionally, change text color to white when clicked */
}



/* -----CONTAINERS-------*/
.parent_container{
  display: flex; 
  justify-content: center; 
  margin:0 auto; 
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); 
  padding: 20px; 
  border-radius: 5px;
  width: 900px;
  background-color: white;

}

.hero{
  background-color: #b3b3b3;
  margin-bottom: 50px;
  padding: 10px;
}

.copyright{
  background-color: #2b2b2b;
  margin-top: 50px;
  padding: 10px;
  color: #ffffff;

}
 


/* -----BASICS-------*/
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13pt;
  background-color: rgb(248, 248, 248);
  
}

p{
  line-height: 13pt;
}

h1{ 
  text-align: center;

}

h2{
  line-height: 18pt;
  font-size: 18pt;
}

h3, h4{
  line-height: 18pt;
  font-size: 14pt;
}

select{
  padding: 10px;
  width: 120px;
  font-size: large;
  background-color: #e8e7e7;
  color: black;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* -----BUTTONS-------*/
button{
  padding: 10px;
  width: 120px;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.button_container{
  width: 100%;

}

 /* Style for the Calculate button */
 #submit_btn {
  background-color: #009a5c; /* Initial background color */
  color: white; /* Text color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition for the background color */
}

/* Hover effect for the Calculate button */
#submit_btn:hover {
  background-color: #008a17; /* Background color on hover */
}

/* Active (clicked) state for the Calculate button */
#submit_btn:active {
  background-color: #004707; /* Background color on click */
}

/* Style for the Reset button */
#reset_btn {
      background-color: #cc3300; /* Initial background color */
      color: white; /* Text color */
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s; /* Add a smooth transition for the background color */
    }
  
    /* Hover effect for the Reset button */
    #reset_btn:hover {
      background-color: #bc7630; /* Background color on hover */
    }
  
    /* Active (clicked) state for the Reset button */
    #reset_btn:active {
      background-color: #800000; /* Background color on click */
    }
